<!--====== SERVICES PART START ======-->

<section id="features" class="services-area pt-120">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-10">
              <div class="section-title text-center pb-40">
                  <div class="line m-auto"></div>
                  <h3 class="title">Notes</h3>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <div class="row  justify-content-center">

          <div class="col-lg-4 col-md-7 col-sm-8" *ngFor="let list of lists;">
              <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                  <div class="services-icon">
                    <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape">
                    <i class="lni-baloon"></i>
                  </div>
                  <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#">{{list.heading}}</a></h4>
                    <p class="text">{{list.info}}</p>
                    <p class="text test-right">{{list.date}}</p>
                    <a class="more" href="#">Learn More <i class="lni-chevron-right"></i></a>
                </div>
              </div>
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->
